@keyframes expand {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slide-left {
  0% {
    left: 100%;
  }
  100% {
    left: 2rem;
  }
}
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(calc(-64px * 24));
  }
}
