// WEIGHT ============================

$super-bold: 800;
$bold: 600;
$semi-bold: 500;
$regular: 400;
$light: 300;
$very-light: 200;
$super-light: 100;

// FONT ===============================

$montserrat: "Montserrat", sans-serif;
$sans: "Open Sans", sans-serif;

// ANIMATION ===========================

@keyframes nameAnimation {
  0% {
    left: 0;
  }
  50% {
    left: -100rem;
  }
  100% {
    left: 0;
  }
}
@keyframes rotate {
  0% {
    transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
  }
  50% {
    transform: rotateX(22deg) rotateY(-60deg) rotateZ(-10deg);
  }
  100% {
    transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
  }
}
