.technologies-page {
  overflow: hidden;
  width: 100%;
  $animationSpeed: 40s;
  .technologies-container {
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    display: flex;

    .carousel {
      animation: scroll $animationSpeed linear infinite;
      display: flex;
      position: absolute;
      justify-content: space-between;
      width: 100%;
      right: 0;
      img {
        width: 64px;
        height: 64px;
        margin: auto;
      }
    }
  }
}
