$blue: #3a405a;
$dark-grey: #a7a2a9;
$light-grey: #f4f7f5;
$brown: #685044;
$green: #36827f;

// code sandbox

$code-pink: #f52772;
$code-green: #4eaa0c;
$code-blue: #0cc6e7;
$code-el: #36af90;

@mixin breakpoint($point) {
  @if $point == medium {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == large {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $point == x-large {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

@keyframes up {
  0% {
    top: 0;
  }
  50% {
    top: -100%;
  }
  100% {
    display: none;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(35deg);
  }
  50% {
    transform: rotate(350deg);
  }
  100% {
    transform: rotate(35deg);
  }
}
@keyframes welcome {
  0% {
    transform: scale(0) rotate(200deg);
  }
  50% {
    transform: scale(0.5) rotate(150deg);
  }
  100% {
    transform: scale(1) rotate(15deg);
  }
}
