.welcome-page {
  height: 100vh;
  .row {
    height: 100%;
    margin: auto;
  }
  #about {
    height: fit-content;
    margin: auto 0;
    position: relative;

    .avatar {
      position: absolute;
      height: 125px;
      border-radius: 50%;
      left: -15px;
      top: -300px;
      box-shadow: 5px 5px 5px 1px rgba(white, 0.3);
      animation: expand 1s;
      @include breakpoint(large) {
        left: -32.5px;
        top: -172.5px;
      }
    }
    .about-container {
      position: absolute;
      left: 2rem;
      top: -15rem;
      width: 200%;
      padding: 4rem 2.5rem;
      background: linear-gradient(225deg, darken($grey, 10%) 60%, $grey 100%);
      border-radius: 5px;
      box-shadow: 10px 5px 5px 1px rgba($grey, 0.6);
      animation: slide-left 1s cubic-bezier(0, 0, 0.7, 1);
      @include breakpoint(large) {
        top: -7rem;
      }
      h2 {
        width: 50%;
        color: white;
        font-size: 2.3rem;
      }
      .btn {
        animation: expand 1.5s;
      }
    }
  }
}
